
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    min-width: 30rem;
}

.haste-horizontal {
    height: 10px;
    width: 150px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    left: 70px;
    top: 0px;
}

.haste-vertical {
    height: 200px;
    width: 10px;
    background-color: white;
    margin-right: 200px;
}

.base {
    height: 10px;
    width: 250px;
    background-color: white;
    margin-bottom: 1rem;
}

.hang {
    height: 40px;
    width: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 185px;
    top: 0px;
}

.head {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40px;
    left: 160px;
    border-radius: 50%;
    border: 3px solid white;
}

.body {
    height: 60px;
    width: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 186px;
    top: 95px;
}

.right-arm {
    height: 3px;
    width: 30px;
    background-color: #ffffff;
    position: absolute;
    left:186px;
    top: 105px;
    rotate: 30deg;
}

.left-arm {
    height: 3px;
    width: 30px;
    background-color: #ffffff;
    position: absolute;
    left: 160px;
    top: 105px;
    rotate: -30deg;
}
.right-leg {
    height: 3px;
    width: 30px;
    background-color: #ffffff;
    position: absolute;
    left: 186px;
    top: 160px;
    rotate: 30deg;
}
.left-leg {
    height: 3px;
    width: 30px;
    background-color: #ffffff;
    position: absolute;
    left: 160px;
    top: 160px;
    rotate: -30deg;
}