.key-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 80vw;
    grid-gap: 0.5rem;
    margin-top: 1.5rem;
    justify-content: center;
}

.button {
    border: 2px solid white;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    background-color: #4d0094;
}

.button:hover {
    background-color: #701cbe;
}

.button:active {
    background-color: #2f005b;
}

.button-disabled {
        border: 2px solid white;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        background-color: #29004d;
}

@media (min-width: 700px) {
    .key-wrapper {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (min-width: 1024px) {
    .key-wrapper {
        grid-template-columns: repeat(7, 1fr);
        margin-top: 2.5rem;
    }
}